<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--设置Mybatis支持延迟加载功能            -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--设置积极加载为消极加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>
    <mappers>
        <mapper resource="mappers/BookInfo.xml"></mapper>
        <mapper resource="mappers/BookType.xml"></mapper>
    </mappers>
</configuration>
